<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>TestAlertLogic - Search By Actor</title>
</head>
<body ng-app="myApp" ng-controller="searchCtrl">
	Actor Name : 
	<input type="text" name="in_actor" ng-model="in_actor"><br> 	
	<input type="submit" value="Search" ng-click="searchByActor()">	
	<p>{{message}}</p>
</body>

<script src="searchController.js"></script>
</html>